<p style="color: green"><%= notice %></p>

<h1>Actors</h1>

<div id="actors">
  <% @actors.each do |actor| %>
    <%= render actor %>
    <p>
      <%= link_to "Show this actor", actor %>
    </p>
  <% end %>
</div>

<%= link_to "New actor", new_actor_path %>
